.slider-container {
  position: relative;
  max-height: 500px;
  min-height: 500px;
}

.text-overlay {
  position: absolute;
  bottom: 68px;
  background: rgba(31,6,6,0.8);
  width: 100%;
  color: rgba(255,255,255,0.8);
  padding: 20px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

